PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(6,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(7,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(8,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "proyeks" ("id" integer primary key autoincrement not null, "nama_proyek" varchar not null, "created_at" datetime, "updated_at" datetime, "location" varchar, "manpower" integer, "duration" integer, "description" text, "documentation" varchar);
INSERT INTO proyeks VALUES(23,'Proyek A','2025-03-18 06:31:45','2025-04-08 02:16:51','Solo Baru',5,4,'Pembangunan Jaringan Blok A','documentations/FVgCE6ubO3Nx27PZOmrJCt1cdTmljkLlkHp37xPo.jpg');
INSERT INTO proyeks VALUES(24,'Proyek B','2025-03-18 06:37:21','2025-03-18 06:50:33','Sukoharjo Kota',2,2,'Pembangunan Jaringan Blok A','documentations/4CJfgYTzSuZJveQRNt9NeWcPzAu6ixn9PC3LuVfG.jpg');
INSERT INTO proyeks VALUES(25,'Proyek C','2025-03-18 06:39:58','2025-03-18 07:03:21','Gentan',10,3,'Pembangunan Jaringan Blok D & F','documentations/wonfXyX7WfGQ3nr8Axl5T40HYpxsWuKH60CYsTyh.jpg');
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
INSERT INTO users VALUES(1,'galuh','muhgaluh545@gmail.com',NULL,'$2y$12$QHgicgBGETKARtF0iVnVy.GiyBRWuEgdZ7cKa61Yy1A99YYkrZT8W',NULL,'2025-03-15 03:47:14','2025-03-15 03:47:14');
INSERT INTO users VALUES(2,'Galuh','muhammadgaluh543@gmail.com',NULL,'$2y$12$z.5CsEA/AeHOfKsl6J1PUuQPk3OkKNxQnZA78e.2JLb4iYTWorV0W',NULL,'2025-03-18 02:27:51','2025-03-18 02:27:51');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('cK9uxen6YGh2NXABaER4L3JGXZMc23W36RnE3Ggb',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36 Edg/135.0.0.0','YTozOntzOjY6Il90b2tlbiI7czo0MDoiVEs4WEhrZFc0YzlWdllnUVYwN1lkR1liOExmc0huTWZYYUxIMHFQVCI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6Mjk6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMC9iZXJhbmRhIjt9fQ==',1744088519);
INSERT INTO sessions VALUES('4MAc2xtKgnUewzDtiEmj1AzDeYDXM9C7SxQw4g1m',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36 Edg/135.0.0.0','YTozOntzOjY6Il90b2tlbiI7czo0MDoic2ZSaWhubE0wQUUzcjdNZWhwdWRJMjdFSFEzTThFZlFkMTgwb2NiMiI7czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMCI7fXM6NjoiX2ZsYXNoIjthOjI6e3M6Mzoib2xkIjthOjA6e31zOjM6Im5ldyI7YTowOnt9fX0=',1744106285);
INSERT INTO sessions VALUES('nqZmUZbEX1kfmrhZvNUPdYqyQB7gNKH9ivhdXTIq',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36 Edg/135.0.0.0','YTozOntzOjY6Il90b2tlbiI7czo0MDoiSkp3Q1BIWVgzcW5hWlJGcVczN3B4NmxPS3MxWGNjcTlGRndBb2RQYSI7czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMCI7fXM6NjoiX2ZsYXNoIjthOjI6e3M6Mzoib2xkIjthOjA6e31zOjM6Im5ldyI7YTowOnt9fX0=',1744164580);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',9);
INSERT INTO sqlite_sequence VALUES('proyeks',39);
INSERT INTO sqlite_sequence VALUES('users',2);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
COMMIT;
